<a href="https://colab.research.google.com/github/violet417/violet417/blob/main/1%EA%B8%B0%EC%B4%88_37_%EC%9D%B8%ED%84%B0%EB%84%B7%EC%97%90_%EC%9E%88%EB%8A%94_%ED%91%9C%EB%A5%BC_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84%EC%9C%BC%EB%A1%9C_%EB%B0%94%EB%A1%9C_%EB%A7%8C%EB%93%9C%EB%8A%94_%EB%B0%A9%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 표 수집
- 수집한 표 정보를 바로 표(데이터프레임)으로 변환할 수 있다. 


```
pd.read_html(str(HTML)  # 문자열로 바꿔줘야 함. 
```

In [ ]:
# 네이버 -> 증권 -> 국내증시 -> 시가총액 -> 코스피&코스닥을 하나의 데이터프레임으로 만드는 방법

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [ ]:
url = requests.get('https://finance.naver.com/sise/sise_market_sum.naver?sosok=0&page=1')
html = BeautifulSoup(url.text)
kospi_page = int(html.find('td', class_ = "pgRR").find('a')['href'].split('=')[-1])

total = []

for n in range(1, kospi_page + 1):  # 1~38페이지까지 반복

    url = requests.get('https://finance.naver.com/sise/sise_market_sum.naver?sosok=0&page={}'.format(n))
    html = BeautifulSoup(url.text)

    table = html.find('table', class_ = 'type_2')
    table = pd.read_html(str(html))[1]    # 하나의 리스트로 출력되므로 리스트 안에 인덱스를 지정하여 데이터를 꺼내오기,  
    table = table[table['종목명'].notnull()]      # 실선으로 표시된 부분까지 불러와서 NaN 값이 보이므로, '종목명'에 NaN값이 있는 행 제거

    del table['N']       # 필요없는 열 삭제
    del table['토론실']

    total.append(table)
    time.sleep(1)   # 트래픽 발생을 최소화하기 위해

    print("{}페이지 저장완료...".format(len(total)))

1페이지 저장완료...
2페이지 저장완료...
3페이지 저장완료...
4페이지 저장완료...
5페이지 저장완료...
6페이지 저장완료...
7페이지 저장완료...
8페이지 저장완료...
9페이지 저장완료...
10페이지 저장완료...
11페이지 저장완료...
12페이지 저장완료...
13페이지 저장완료...
14페이지 저장완료...
15페이지 저장완료...
16페이지 저장완료...
17페이지 저장완료...
18페이지 저장완료...
19페이지 저장완료...
20페이지 저장완료...
21페이지 저장완료...
22페이지 저장완료...
23페이지 저장완료...
24페이지 저장완료...
25페이지 저장완료...
26페이지 저장완료...
27페이지 저장완료...
28페이지 저장완료...
29페이지 저장완료...
30페이지 저장완료...
31페이지 저장완료...
32페이지 저장완료...
33페이지 저장완료...
34페이지 저장완료...
35페이지 저장완료...
36페이지 저장완료...
37페이지 저장완료...
38페이지 저장완료...

In [ ]:
len(total)

38

In [ ]:
kospi = pd.concat(total, ignore_index = True)
kospi.to_excel("kospi.xlsx")
kospi

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
0,삼성전자,56500.0,100.0,-0.18%,100.0,3372927.0,5969783.0,49.54,14727207.0,8.57,13.92
1,LG에너지솔루션,489000.0,2500.0,-0.51%,500.0,1144260.0,234000.0,4.50,332762.0,812.29,10.68
2,SK하이닉스,95800.0,600.0,+0.63%,5000.0,697426.0,728002.0,50.90,2590483.0,6.08,16.84
3,삼성바이오로직스,845000.0,15000.0,+1.81%,2500.0,601420.0,71174.0,10.50,64798.0,112.38,8.21
4,LG화학,611000.0,36000.0,+6.26%,5000.0,431319.0,70592.0,48.36,249808.0,21.54,18.47
...,...,...,...,...,...,...,...,...,...,...,...
1886,KBSTAR 200에너지화학,10040.0,350.0,+3.61%,0.0,12.0,120.0,0.00,94.0,NaN,NaN
1887,KBSTAR 모멘텀밸류,11995.0,155.0,+1.31%,0.0,12.0,100.0,0.00,105.0,NaN,NaN
1888,KBSTAR 200생활소비재,5925.0,45.0,+0.77%,0.0,11.0,180.0,0.00,40.0,NaN,NaN
1889,KBSTAR 200산업재,10450.0,215.0,+2.10%,0.0,8.0,80.0,0.00,505.0,NaN,NaN
1890,KBSTAR 200경기소비재,8735.0,190.0,+2.22%,0.0,7.0,80.0,0.00,17.0,NaN,NaN

In [ ]:
# 1. html.find('td', class_ = "pgRR"): 태그명 'td', class 속성값 'pgRR'인 것 찾기
html.find('td', class_ = "pgRR")

<td class="pgRR">
<a href="/sise/sise_market_sum.naver?sosok=0&amp;page=38">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>

In [ ]:
# 2. 찾은 결과에서 다시 find('a')로 a를 찾기
html.find('td', class_ = "pgRR").find('a')

<a href="/sise/sise_market_sum.naver?sosok=0&amp;page=38">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>

In [ ]:
# 3. 찾은 결과 'a'에서 'href'에 접근하기
html.find('td', class_ = "pgRR").find('a')['href']

'/sise/sise_market_sum.naver?sosok=0&page=38'

In [ ]:
# 4. 원하는 결과값 38을 얻기 위해 split('=') 함수를 이용하여 '='을 기준으로 나누기
html.find('td', class_ = "pgRR").find('a')['href'].split('=')

['/sise/sise_market_sum.naver?sosok', '0&page', '38']

In [ ]:
# 5. 결과값에서 '38'은 리스트 내 맨 마지막에 있으므로 인덱스 -1로 지정하여 추출
html.find('td', class_ = "pgRR").find('a')['href'].split('=')[-1]

'38'

In [ ]:
# 6. 문자열 -> 숫자열로 바꿔 kospi_page변수에 저장
kospi_page = int(html.find('td', class_ = "pgRR").find('a')['href'].split('=')[-1])

In [ ]:
url = requests.get('https://finance.naver.com/sise/sise_market_sum.naver?sosok=1&page=1')
html = BeautifulSoup(url.text)
kosdaq_page = int(html.find('td', class_ = 'pgRR').find('a')['href'].split('=')[-1])

total2 = []

for n in range(1, kosdaq_page + 1):
    url = requests.get('https://finance.naver.com/sise/sise_market_sum.naver?sosok=1&page={}'.format(n))
    html = BeautifulSoup(url.text)

    table = html.find('table', class_ = 'type2')
    table = pd.read_html(str(html))[1]
    table = table[table['종목명'].notnull()]

    del table['N']
    del table['토론실']

    total2.append(table)
    time.sleep(1)
    print("{}페이지 저장완료...".format(len(total2)))

1페이지 저장완료...
2페이지 저장완료...
3페이지 저장완료...
4페이지 저장완료...
5페이지 저장완료...
6페이지 저장완료...
7페이지 저장완료...
8페이지 저장완료...
9페이지 저장완료...
10페이지 저장완료...
11페이지 저장완료...
12페이지 저장완료...
13페이지 저장완료...
14페이지 저장완료...
15페이지 저장완료...
16페이지 저장완료...
17페이지 저장완료...
18페이지 저장완료...
19페이지 저장완료...
20페이지 저장완료...
21페이지 저장완료...
22페이지 저장완료...
23페이지 저장완료...
24페이지 저장완료...
25페이지 저장완료...
26페이지 저장완료...
27페이지 저장완료...
28페이지 저장완료...
29페이지 저장완료...
30페이지 저장완료...
31페이지 저장완료...
32페이지 저장완료...

In [ ]:
table = html.find('table', class_ = 'type2')
table = pd.read_html(str(html))[1]
table = table[table['종목명'].notnull()]
table

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,1551.0,유안타제9호스팩,2055.0,0.0,0.00%,100.0,108.0,5240.0,0.06,9742.0,NaN,NaN,NaN
2,1552.0,아리온,275.0,0.0,0.00%,500.0,107.0,38974.0,2.97,0.0,-0.02,-586.75,NaN
3,1553.0,케이비제22호스팩,2050.0,0.0,0.00%,100.0,107.0,5220.0,1.13,6940.0,NaN,NaN,NaN
4,1554.0,미래에셋대우스팩 5호,2100.0,5.0,-0.24%,100.0,106.0,5060.0,0.12,4.0,-233.33,-0.50,NaN
5,1555.0,하이제7호스팩,2070.0,0.0,0.00%,100.0,106.0,5120.0,0.00,9096.0,-26.54,NaN,NaN
9,1556.0,유진스팩7호,2090.0,20.0,-0.95%,100.0,105.0,5010.0,0.29,438.0,-522.50,NaN,NaN
10,1557.0,에이치엠씨제5호스팩,2020.0,10.0,-0.49%,100.0,103.0,5115.0,0.00,10328.0,224.44,0.18,NaN
11,1558.0,신한제6호스팩,2015.0,180.0,-8.20%,100.0,101.0,5010.0,2.56,5032936.0,-287.86,-0.18,NaN
12,1559.0,DB금융스팩9호,2070.0,0.0,0.00%,100.0,100.0,4840.0,0.00,2179.0,414.00,-0.20,NaN
13,1560.0,하나금융23호스팩,2060.0,0.0,0.00%,100.0,99.0,4830.0,0.01,3749.0,NaN,NaN,NaN
17,1561.0,신영스팩6호,2285.0,0.0,0.00%,100.0,98.0,4305.0,0.00,0.0,-380.83,-0.09,NaN
18,1562.0,IBKS제13호스팩,1900.0,10.0,+0.53%,100.0,98.0,5170.0,0.14,25005.0,NaN,-0.09,NaN
19,1563.0,신한제9호스팩,2075.0,15.0,+0.73%,100.0,94.0,4535.0,0.14,7603.0,NaN,NaN,NaN
20,1564.0,신한제7호스팩,2055.0,35.0,-1.67%,100.0,94.0,4550.0,0.02,17441.0,-256.88,-4.34,NaN
21,1565.0,교보11호스팩,2100.0,10.0,+0.48%,100.0,93.0,4440.0,0.01,3079.0,-15.22,NaN,NaN
25,1566.0,하나머스트7호스팩,2125.0,5.0,+0.24%,100.0,91.0,4304.0,0.16,1365.0,531.25,-0.10,NaN
26,1567.0,신영스팩7호,2090.0,5.0,+0.24%,100.0,90.0,4305.0,0.05,3690.0,NaN,NaN,NaN
27,1568.0,IBKS제18호스팩,2115.0,15.0,+0.71%,100.0,89.0,4230.0,0.54,7913.0,NaN,NaN,NaN
28,1569.0,한화플러스제2호스팩,2130.0,0.0,0.00%,100.0,89.0,4160.0,0.40,14959.0,-213.00,NaN,NaN
29,1570.0,에이치엠씨제4호스팩,2025.0,0.0,0.00%,100.0,87.0,4310.0,0.00,6913.0,675.00,0.09,NaN
33,1571.0,지나인제약,2120.0,0.0,0.00%,500.0,86.0,4079.0,3.76,0.0,-0.32,-517.98,NaN
34,1572.0,하나금융16호스팩,2145.0,15.0,+0.70%,100.0,86.0,4010.0,0.01,586.0,-1072.50,-0.07,NaN
35,1573.0,키움제7호스팩,2070.0,15.0,+0.73%,100.0,85.0,4105.0,0.14,23830.0,NaN,NaN,NaN
36,1574.0,에스디시스템,739.0,0.0,0.00%,500.0,82.0,11148.0,6.93,0.0,-33.59,35.83,NaN
37,1575.0,에스케이증권7호스팩,2185.0,0.0,0.00%,100.0,79.0,3620.0,0.27,0.0,-47.50,NaN,NaN
41,1576.0,제이웨이,2160.0,0.0,0.00%,500.0,78.0,3611.0,0.00,0.0,-1.51,-2131.91,NaN
42,1577.0,에스케이증권제8호스팩,2095.0,5.0,-0.24%,100.0,78.0,3720.0,0.20,7415.0,NaN,NaN,NaN
43,1578.0,교보9호스팩,1995.0,15.0,+0.76%,100.0,77.0,3880.0,0.82,336996.0,-142.50,-0.56,NaN
44,1579.0,신한제10호스팩,2110.0,10.0,+0.48%,100.0,77.0,3660.0,0.06,2413.0,NaN,NaN,NaN
45,1580.0,IBKS제16호스팩,2225.0,0.0,0.00%,100.0,76.0,3410.0,0.01,0.0,-89.00,NaN,NaN
49,1581.0,이베스트스팩5호,2030.0,0.0,0.00%,100.0,73.0,3620.0,1.12,6603.0,507.50,-0.17,NaN
50,1582.0,키움제6호스팩,2120.0,10.0,+0.47%,100.0,73.0,3430.0,0.35,14457.0,NaN,NaN,NaN
51,1583.0,유진스팩6호,2290.0,10.0,+0.44%,100.0,69.0,3020.0,0.12,1783.0,-2290.00,NaN,NaN
52,1584.0,하나금융20호스팩,2250.0,25.0,+1.12%,100.0,69.0,3050.0,0.37,46275.0,-39.47,NaN,NaN
53,1585.0,IBKS제17호스팩,2335.0,5.0,+0.21%,100.0,64.0,2720.0,2.12,40932.0,-5.17,NaN,NaN
57,1586.0,케이프이에스제4호,2020.0,5.0,+0.25%,100.0,61.0,3009.0,0.00,6005.0,2020.00,-0.10,NaN
58,1587.0,루트로닉3우C,24500.0,0.0,0.00%,500.0,53.0,215.0,0.23,0.0,16.69,NaN,NaN
59,1588.0,뉴로스,121.0,35.0,-22.44%,500.0,43.0,35639.0,3.21,12425937.0,1.13,-18.33,NaN
60,1589.0,대호특수강우,1005.0,15.0,-1.47%,500.0,43.0,4242.0,1.61,10246.0,16.75,NaN,NaN
61,1590.0,한국코퍼레이션,822.0,0.0,0.00%,500.0,42.0,5119.0,0.10,0.0,1.90,10.90,NaN
65,1591.0,소프트센우,18900.0,800.0,-4.06%,500.0,27.0,143.0,1.40,370.0,47.85,NaN,NaN

In [ ]:
len(total2)

32

In [ ]:
html.find('td', class_ = 'pgRR')

<td class="pgRR">
<a href="/sise/sise_market_sum.naver?sosok=1&amp;page=32">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>

In [ ]:
html.find('td', class_ = 'pgRR').find('a')

<a href="/sise/sise_market_sum.naver?sosok=1&amp;page=32">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>

In [ ]:
html.find('td', class_ = 'pgRR').find('a')['href']

'/sise/sise_market_sum.naver?sosok=1&page=32'

In [ ]:
html.find('td', class_ = 'pgRR').find('a')['href'].split('=')

['/sise/sise_market_sum.naver?sosok', '1&page', '32']

In [ ]:
html.find('td', class_ = 'pgRR').find('a')['href'].split('=')[-1]

'32'

In [ ]:
kosdaq_page = int(html.find('td', class_ = 'pgRR').find('a')['href'].split('=')[-1])

In [ ]:
kosdaq = pd.concat(total2, ignore_index = True)
kosdaq.to_excel("kosdaq.xlsx")
kosdaq

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
0,셀트리온헬스케어,66600.0,3300.0,+5.21%,1000.0,105389.0,158242.0,16.20,617960.0,75.17,7.56
1,에코프로비엠,104800.0,4300.0,-3.94%,500.0,102496.0,97801.0,10.29,2790051.0,59.85,20.26
2,엘앤에프,208800.0,4500.0,+2.20%,500.0,75021.0,35930.0,20.83,492170.0,244.21,-27.41
3,HLB,41200.0,2250.0,+5.78%,500.0,44044.0,106903.0,12.89,597912.0,-78.33,-21.43
4,에코프로,145300.0,800.0,+0.55%,500.0,36400.0,25052.0,9.40,1780915.0,-13.16,32.70
...,...,...,...,...,...,...,...,...,...,...,...
1586,루트로닉3우C,24500.0,0.0,0.00%,500.0,53.0,215.0,0.23,0.0,16.69,NaN
1587,뉴로스,121.0,35.0,-22.44%,500.0,43.0,35639.0,3.21,12425937.0,1.13,-18.33
1588,대호특수강우,1005.0,15.0,-1.47%,500.0,43.0,4242.0,1.61,10246.0,16.75,NaN
1589,한국코퍼레이션,822.0,0.0,0.00%,500.0,42.0,5119.0,0.10,0.0,1.90,10.90
1590,소프트센우,18900.0,800.0,-4.06%,500.0,27.0,143.0,1.40,370.0,47.85,NaN

In [ ]:
whole = pd.concat([kospi, kosdaq], ignore_index=True)
whole.to_excel("whole.xlsx")
whole

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
0,삼성전자,56500.0,100.0,-0.18%,100.0,3372927.0,5969783.0,49.54,14727207.0,8.57,13.92
1,LG에너지솔루션,489000.0,2500.0,-0.51%,500.0,1144260.0,234000.0,4.50,332762.0,812.29,10.68
2,SK하이닉스,95800.0,600.0,+0.63%,5000.0,697426.0,728002.0,50.90,2590483.0,6.08,16.84
3,삼성바이오로직스,845000.0,15000.0,+1.81%,2500.0,601420.0,71174.0,10.50,64798.0,112.38,8.21
4,LG화학,611000.0,36000.0,+6.26%,5000.0,431319.0,70592.0,48.36,249808.0,21.54,18.47
...,...,...,...,...,...,...,...,...,...,...,...
3477,루트로닉3우C,24500.0,0.0,0.00%,500.0,53.0,215.0,0.23,0.0,16.69,NaN
3478,뉴로스,121.0,35.0,-22.44%,500.0,43.0,35639.0,3.21,12425937.0,1.13,-18.33
3479,대호특수강우,1005.0,15.0,-1.47%,500.0,43.0,4242.0,1.61,10246.0,16.75,NaN
3480,한국코퍼레이션,822.0,0.0,0.00%,500.0,42.0,5119.0,0.10,0.0,1.90,10.90
3481,소프트센우,18900.0,800.0,-4.06%,500.0,27.0,143.0,1.40,370.0,47.85,NaN