<a href="https://colab.research.google.com/github/violet417/violet417/blob/main/1%EA%B8%B0%EC%B4%88_28_%EC%97%AC%EB%9F%AC_%EA%B0%9C%EC%9D%98_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%94%84%EB%A0%88%EC%9E%84%EC%9D%84_%ED%95%A9%EC%B9%98%EB%8A%94_%EB%B0%A9%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### concat: 여러 개의 데이터프레임을 하나의 데이터프레임으로 합치는 함수
- 열 이름을 기준으로 합치기: pd.concat([df1, df2, ...])
- 행 이름을 기준으로 합치기: pd.concat([df1, df2, ...], axis = 1)    
- axis = 1일 때: 열 방향(좌→우)으로 행 이름을 기준으로 붙이기 
- axis = 0일 때: 행 방향(위→아래)으로 열 이름을 기준으로 붙이기
- 행 이름 바꾸기: df.index = [...]
- 열 이름 바꾸기: df.columns = [...]

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('concat_1.csv')
df2 = pd.read_csv('concat_2.csv')
df3 = pd.read_csv('concat_3.csv')

In [ ]:
df1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [ ]:
df2

    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [ ]:
df3

     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [ ]:
concat1 = pd.concat([df1, df2, df3])    # axis = 0이 기본값
print(concat1)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [ ]:
concat1 = pd.concat([df1, df2, df3], ignore_index=True)   # 행번호 정렬
print(concat1)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [ ]:
concat2 = pd.concat([df1, df2, df3], axis = 1)
print(concat2)

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [ ]:
concat2['A']

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

In [ ]:
concat2 = pd.concat([df1, df2, df3], axis = 1, ignore_index=True)  # 열이름 정렬
print(concat2)

   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [ ]:
# 열이름이 다른 데이터프레임이 있다면 합쳐줄까?

df2.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
df2.index = [0,3,5,7]
df2

    A   B   C   D
0  a4  b4  c4  d4
3  a5  b5  c5  d5
5  a6  b6  c6  d6
7  a7  b7  c7  d7

In [ ]:
pd.concat([df1, df2, df3], axis = 1)   # 행번호가 달라도 강제로 NaN 값을 채워서 합쳐줌.

     A    B    C    D    A    B    C    D    A    B    C    D
0   a0   b0   c0   d0   a4   b4   c4   d4   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN   a9   b9   c9   d9
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN  a10  b10  c10  d10
3   a3   b3   c3   d3   a5   b5   c5   d5  a11  b11  c11  d11
5  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  NaN  NaN  NaN  NaN

In [ ]:
df2.columns = ['A', 'C', 'E', 'F' ]
df2

    A   C   E   F
0  a4  b4  c4  d4
3  a5  b5  c5  d5
5  a6  b6  c6  d6
7  a7  b7  c7  d7

In [ ]:
pd.concat([df1, df2, df3], axis = 0) # 열 이름이 달라도 강제로 NaN 값을 채워서 합쳐줌.

     A    B    C    D    E    F
0   a0   b0   c0   d0  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN
0   a4  NaN   b4  NaN   c4   d4
3   a5  NaN   b5  NaN   c5   d5
5   a6  NaN   b6  NaN   c6   d6
7   a7  NaN   b7  NaN   c7   d7
0   a8   b8   c8   d8  NaN  NaN
1   a9   b9   c9   d9  NaN  NaN
2  a10  b10  c10  d10  NaN  NaN
3  a11  b11  c11  d11  NaN  NaN