<a href="https://colab.research.google.com/github/violet417/violet417/blob/main/2MD_06_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%A5%BC_%EB%B6%84%ED%95%A0%ED%95%B4%EC%84%9C_%ED%95%99%EC%8A%B5%ED%95%B4%EC%95%BC_%ED%95%98%EB%8A%94_%EC%9D%B4%EC%9C%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 훈련데이터와 시험데이터
- 훈련데이터로 학습하고, 훈련데이터로 평가한다면 정확도를 신뢰할 수 없음. 
- 훈련데이터와 시험데이터를 만들고, 훈련데이터로만 학습하고, 시험데이터로 평가

#### 데이터의 비율
- 최대한 훈련데이터에 많은 비율을 할당하는 것이 좋음
- 데이터가 적다면 최소 75:25 비율을 유지해주는 것이 좋음
- 데이터가 많다면 99:1 또는 99.9:0.1 수준으로 최대한 훈련데이터에 많은 비율을 할당하는 것이 좋음  
=> 최대한 컴퓨터가 많은 데이터를 학습해야만 모르는 무언가의 패턴을 찾아낼 수 있다.

#### 데이터 분할하기
from sklearn.model_selection import train_test_split  
<br>
- 순서가 중요!!  
훈련문제집, 시험문제집, 훈련정답지, 시험정답지 = train_test_split(문제집, 정답지, test_size = ?)  
ex) test_size = 0.2  8:2로 분할
훈련문제집 80% - 시험문제집 20%
훈련정답지 80% - 시험정답지 20%

In [ ]:
import pandas as pd

fish = pd.read_csv('fish.csv')
fish

    length  weight  class
0     25.4   242.0      1
1     26.3   290.0      1
2     26.5   340.0      1
3     29.0   363.0      1
4     29.0   430.0      1
5     29.7   450.0      1
6     29.7   500.0      1
7     30.0   390.0      1
8     30.0   450.0      1
9     30.7   500.0      1
10    31.0   475.0      1
11    31.0   500.0      1
12    31.5   500.0      1
13    32.0   340.0      1
14    32.0   600.0      1
15    32.0   600.0      1
16    33.0   700.0      1
17    33.0   700.0      1
18    33.5   610.0      1
19    33.5   650.0      1
20    34.0   575.0      1
21    34.0   685.0      1
22    34.5   620.0      1
23    35.0   680.0      1
24    35.0   700.0      1
25    35.0   725.0      1
26    35.0   720.0      1
27    36.0   714.0      1
28    36.0   850.0      1
29    37.0  1000.0      1
30    38.5   920.0      1
31    38.5   955.0      1
32    39.5   925.0      1
33    41.0   975.0      1
34    41.0   950.0      1
35     9.8     6.7      0
36    10.5     7.5      0
37    10.6     7.0      0
38    11.0     9.7      0
39    11.2     9.8      0
40    11.3     8.7      0
41    11.8    10.0      0
42    11.8     9.9      0
43    12.0     9.8      0
44    12.2    12.2      0
45    12.4    13.4      0
46    13.0    12.2      0
47    14.3    19.7      0
48    15.0    19.9      0

In [ ]:
data = fish[['length', 'weight']].to_numpy()    # 2차원 행렬 모양으로 바로 가져오기
data

array([[  25.4,  242. ],
       [  26.3,  290. ],
       [  26.5,  340. ],
       [  29. ,  363. ],
       [  29. ,  430. ],
       [  29.7,  450. ],
       [  29.7,  500. ],
       [  30. ,  390. ],
       [  30. ,  450. ],
       [  30.7,  500. ],
       [  31. ,  475. ],
       [  31. ,  500. ],
       [  31.5,  500. ],
       [  32. ,  340. ],
       [  32. ,  600. ],
       [  32. ,  600. ],
       [  33. ,  700. ],
       [  33. ,  700. ],
       [  33.5,  610. ],
       [  33.5,  650. ],
       [  34. ,  575. ],
       [  34. ,  685. ],
       [  34.5,  620. ],
       [  35. ,  680. ],
       [  35. ,  700. ],
       [  35. ,  725. ],
       [  35. ,  720. ],
       [  36. ,  714. ],
       [  36. ,  850. ],
       [  37. , 1000. ],
       [  38.5,  920. ],
       [  38.5,  955. ],
       [  39.5,  925. ],
       [  41. ,  975. ],
       [  41. ,  950. ],
       [   9.8,    6.7],
       [  10.5,    7.5],
       [  10.6,    7. ],
       [  11. ,    9.7],
       [  11.2,    9.8],
       [  11.3,    8.7],
       [  11.8,   10. ],
       [  11.8,    9.9],
       [  12. ,    9.8],
       [  12.2,   12.2],
       [  12.4,   13.4],
       [  13. ,   12.2],
       [  14.3,   19.7],
       [  15. ,   19.9]])

In [ ]:
target = fish['class'].to_numpy()
target

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0])

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

train_input, test_input, train_target, test_target = train_test_split(data, target) 
# test_size를 입력 안할 경우, 기본값 = 75:25 비율 | 랜덤으로 분할

knn = KNeighborsClassifier()
knn.fit(train_input, train_target)    # 훈련세트로만 훈련

KNeighborsClassifier()

In [ ]:
knn.score(test_input, test_target)    # 시험세트로 평가

1.0

In [ ]:
test_target    # 실제값

array([1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1])

In [ ]:
knn.predict(test_input)    # 예측값

array([1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1])